<div class="submenu">
  <h2>Категории</h2>
  <ul class="subnav nav-pills nav-stacked">
    <% Category.roots.each do |category| %>
    <li class="nav-item">
      <%= link_to category.name, category, class: "nav-link #{'active' if current_page?(category_path(category)) || @post.present? && @post.category == category}" %>
      <%= render 'shared/submenu_categories', categories: category.root.descendants.arrange %>
    </li>
    <% end %>
  </ul>
</div>