<% if @category.errors.any? %>
<div class="alert alert-danger">
  <h5><%= t('common.errors') %></h5>
  <ul>
    <% @category.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for [:admin, @category] do |f| %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :parent_id %>
  <%= f.collection_select :parent_id, @categories, :id, :name, { include_blank: true }, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.submit t('.submit', action: @category.new_record? ? t('common.create'): t('common.edit')), class: 'btn btn-primary' %>
  <%= link_to t('common.back'), :back, class: 'btn btn-outline-secondary' %>
</div>
<% end %>