<h1><%= t('.title') %></h1>

<div class="buttons_panel">
  <%= link_to 'Новая категория', new_admin_category_path, class: 'btn btn-outline-primary btn-sm' %>
</div>

<section id="categories">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Название</th>
        <th>Категория родитель</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each_with_index do |category, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= category.name %></td>
        <td><%= category.parent.name if category.parent.present? %></td>
        <td>
          <%= link_to 'Изменить', edit_admin_category_path(category), class: 'btn btn-outline-primary btn-sm'  %>
          <%= link_to 'Удалить', admin_category_path(category), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-outline-danger btn-sm'  %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>